html {
	scroll-behavior: smooth;
}

.bg-qa {
	background-image: url('/img/salamander.jpg');
	background-size: cover;
	background-position: center center;
}

.bg-hero {
	background-image: url('/img/hero.jpg');
	background-size: cover;
	background-position: center center;
}
